# Library

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_excel('/content/drive/My Drive/Colab_Notebooks/covid_detect_clean.xlsx')
df.head()

  SESSO  AGE   WBC  Piastrine  Neutrofili  ...   ALT   ALP   GGT    LDH  TARGET
0     M   56   2.9      128.0         1.9  ...  18.0  43.0  21.0  257.0       2
1     M   56   3.5      151.0         2.1  ...  14.0  50.0  17.0  207.0       2
2     M   72   4.6      206.0         NaN  ...  22.0   NaN   NaN    NaN       2
3     M   72  16.5      316.0        14.0  ...  33.0  80.0  42.0  651.0       2
4     M   77   4.9      198.0         NaN  ...   NaN   NaN   NaN    NaN       2

[5 rows x 16 columns]

In [ ]:
df.TARGET.replace(2,1,inplace=True)

In [ ]:
# 1 is positive
# 0 is negative 
df.TARGET.value_counts()

1    177
0    102
Name: TARGET, dtype: int64

In [ ]:
from sklearn.utils import shuffle
df = shuffle(df).reset_index(drop=True)
df.head()

  SESSO  AGE   WBC  Piastrine  Neutrofili  ...   ALT    ALP    GGT    LDH  TARGET
0     M   42  12.3      476.0         9.6  ...  44.0    NaN    NaN    NaN       0
1     M   58   4.2      245.0         3.3  ...  23.0    NaN    NaN  190.0       1
2     M   65  10.1      229.0         NaN  ...  17.0    NaN    NaN  565.0       1
3     M   77   9.5      152.0         NaN  ...  24.0    NaN    NaN    NaN       0
4     M   46   9.4      191.0         7.3  ...  64.0  100.0  107.0  308.0       1

[5 rows x 16 columns]

In [ ]:
# there is a problem in Linfociti column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SESSO       279 non-null    object
 1   AGE         279 non-null    int64
 2   WBC         277 non-null    float64
 3   Piastrine   277 non-null    float64
 4   Neutrofili  209 non-null    float64
 5   Linfociti   209 non-null    object
 6   Monociti    209 non-null    float64
 7   Eosinofili  209 non-null    float64
 8   Basofili    208 non-null    float64
 9   PCR         273 non-null    float64
 10  AST         277 non-null    float64
 11  ALT         266 non-null    float64
 12  ALP         131 non-null    float64
 13  GGT         136 non-null    float64
 14  LDH         194 non-null    float64
 15  TARGET      279 non-null    int64
dtypes: float64(12), int64(2), object(2)
memory usage: 35.0+ KB

In [ ]:
df.Linfociti.value_counts()

1      22
0.9    16
0.6    16
0.5    16
0.7    15
1.1    13
1.2    13
1.3    12
0.8    10
0.4    10
1.4     8
1.5     6
1.6     6
2.3     6
0.3     5
1.7     4
0.2     3
2.7     3
1.8     3
2       3
3.3     2
2.1     2
2.4     2
1.9     2
2.2     2
2.9     1
3       1
2.6     1
0-4     1
2.5     1
7.2     1
3.6     1
4.1     1
3.1     1
Name: Linfociti, dtype: int64

In [ ]:
# replace 0-4 by 0.4
df.replace('0-4',0.4,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SESSO       279 non-null    object
 1   AGE         279 non-null    int64
 2   WBC         277 non-null    float64
 3   Piastrine   277 non-null    float64
 4   Neutrofili  209 non-null    float64
 5   Linfociti   209 non-null    float64
 6   Monociti    209 non-null    float64
 7   Eosinofili  209 non-null    float64
 8   Basofili    208 non-null    float64
 9   PCR         273 non-null    float64
 10  AST         277 non-null    float64
 11  ALT         266 non-null    float64
 12  ALP         131 non-null    float64
 13  GGT         136 non-null    float64
 14  LDH         194 non-null    float64
 15  TARGET      279 non-null    int64
dtypes: float64(13), int64(2), object(1)
memory usage: 35.0+ KB

# Oversampling

In [ ]:
df_0 = df[df['TARGET']==0]
df_1 = df[df['TARGET']==1]

In [ ]:
print(df_0.shape)
print(df_1.shape)
print(len(df_1))

(102, 16)
(177, 16)
177

In [ ]:
#randomly sampled in df_0, replace=ture means that sampling can be repeated
df_0_ext = df_0.sample(len(df_1), replace=True)
df_0_ext.shape

(177, 16)

In [ ]:
# The concat function is a method under pandas, which can simply fuse data according to different axes
df_ext = pd.concat( [df_0_ext, df_1]  )
# drop: Simply reset the index, without inserting it as a column in a new DataFrame.
df_ext.reset_index(drop=True, inplace=True)
df_ext.head()

  SESSO  AGE   WBC  Piastrine  Neutrofili  ...   ALT   ALP   GGT    LDH  TARGET
0     M   64   9.8      215.0         NaN  ...  24.0   NaN   NaN    NaN       0
1     F   80  10.8      220.0         NaN  ...  13.0  60.0  13.0  445.0       0
2     M   62   6.9      197.0         5.8  ...  44.0  62.0  77.0  541.0       0
3     F   95   7.7      195.0         5.5  ...   9.0   NaN   NaN    NaN       0
4     F   95   7.7      195.0         5.5  ...   9.0   NaN   NaN    NaN       0

[5 rows x 16 columns]

# Output

In [ ]:
df.to_excel("/content/drive/MyDrive/Colab_Notebooks/covid_detect_clean.xlsx", index=False)

df_ext.to_excel("/content/drive/MyDrive/Colab_Notebooks/covid_detect_clean_oversampled.xlsx", index=False)